div.Question {
    margin: 10px;
    background: #204060;
    padding: 10px;
}
button {
    width: 200px;
    padding: 10px;
}
button.Choice {
    background: #102030 ;
    color: white;
}
button.Selected { /* Fix the CSS later */
    background: white;
    color: #102030 ;
}
